<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>Callstats.io AC Dialer</title>
    <script>
      CONNECT_URL = '<%= CONNECT_URL %>'
      APP_ID = '<%= APP_ID %>'
      APP_SECRET = '<%= APP_SECRET %>'
    </script>

    <% if(IS_PRODUCTION) { %>
        <%- include('_hotjar_prod.ejs') -%>
    <% } else { %>
        <%- include('_hotjar_test.ejs') -%>
    <% } %>

</head>
<div class="row">
    <div class="col-md-6" style="display: block" id="basic-dialer">
        <div class="AmazonConnectDiv">
            <div id="containerDiv"
                 style="width: 320px; min-width: 200px; height: 465px; min-height: 400px;margin: auto; "></div>
            <audio id="remote-audio" autoplay></audio>
        </div>
    </div>
    <div class="col-md-6" id="reference-dialer">
        <div id="root"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/static/js/amazon-connect-pre-shim.js" type="application/javascript"></script>
<script src="https://api.callstats.io/static/connect-rtc.min.js" type="application/javascript"></script>
<script src="https://api.callstats.io/static/amazon-connect-csio.js" type="application/javascript"></script>
<script src='<%= CS_JS_SDK_URL %>' type="application/javascript"></script>
<script src="/static/js/amazon-connect-shim.js" type="application/javascript"></script>

<script src="/bundle.js" defer type="application/javascript"></script>

</body>
</html>
